<% include partials/header %>

    <div class="ui main text container segment">
        <div class="ui huge header">New Blog</div>

        <form class="ui form" action="/blogs" method="POST">

            <div class="field">
                <label> title</label>
                <input type="text" name="blog[title]" placeholder="title">
            </div>
            <div class="field">
                <label> image</label>
                <input type="text" name="blog[image]" placeholder="image">
            </div>

            <div class="field">
                <label> Blog Post</label>
                <textarea name="blog[body]" placeholder="blog post goes here"></textarea>
            </div>

            <input class="ui blue big basic button" type="submit" value="save">

        </form>

    </div>
    <% include partials/footer %>